---
import Layout from "../layouts/Layout.astro";
import CVContent from "../components/CVContent";

// Import translations (will be used client-side)
import "../i18n/index.js";

// Import data from data files
import { 
  personalInfo, 
  languages, 
  experiences, 
  education, 
  achievements,
  generateTags
} from "../data";

// Generate tags
const allTags = generateTags();
---

<Layout title="Lenar Gumerov - CV">
  <div
    id="cv-content"
    class="bg-white/80 backdrop-blur-sm print:bg-white shadow-md print:shadow-none my-0 md:my-6 max-w-[830px] mx-auto"
  >
    <CVContent
      client:load
      {personalInfo}
      {languages}
      {experiences}
      {education}
      {achievements}
      {allTags}
    />
  </div>
</Layout>